langchain-community
langchain-huggingface
transformers
reportlab
ddgs
torch
langchain-ollama
langchain-tavily
langchain-openai
arxiv
sentence-transformers
faiss-cpu
unstructured
pdfminer
pypdfium2
arxiv-downloader
pdfminer.six==20220524
trafilatura
langchain-google-genai